bio==1.8.1
biopython==1.86
biothings_client==0.4.1
datasets==4.0.0
faiss==1.9.0
fcd==1.2.2
fcd-torch==1.0.7
flash_attn==2.8.3
idna==3.11
Levenshtein==0.27.3
mistral_common==1.8.8
ninja==1.13.0
nltk==3.9.2
numpy==1.26.4
pandas==3.0.0
peft==0.18.1
pillow==11.3.0
platformdirs==4.5.1
pooch==1.8.2
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
propcache==0.4.1
protobuf==6.33.4
ray==2.53.0
rdkit==2025.9.3
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.11.4
seaborn==0.13.2
selfies==2.2.0
semantic-version==2.10.0
sentence-transformers==5.2.0
sentencepiece==0.2.1
setuptools==80.9.0
tokenizers==0.22.2
torch==2.9.0+cu128
torchaudio==2.9.0+cu128
torchdata==0.11.0
torchvision==0.24.0+cu128
transformers==4.57.5
triton==3.5.0
vllm==0.11.2
xformers==0.0.33.post1
xgboost==3.1.3

